# Exploratory Data Analysis (EDA) for COVID-19 Datasets

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load datasets
datasets = {
    'Comprehensive_Global_COVID-19_Dataset': pd.read_csv('data/Comprehensive_Global_COVID-19_Dataset.csv'),
    'Covid19-TestingRecord': pd.read_csv('data/Covid19-TestingRecord.csv'),
    'Covid19-VariantsFound': pd.read_csv('data/Covid19-VariantsFound.csv'),
    'Vaccinations_ByCountry_ByManufacturer': pd.read_csv('data/Vaccinations_ByCountry_ByManufacturer.csv'),
    'Vaccinations_ByCountry': pd.read_csv('data/Vaccinations_ByCountry.csv')
}

# Display first few rows of each dataset
for name, df in datasets.items():
    print(f'## {name} (First 5 rows)')
    display(df.head())
    print('\n---\n')

## Comprehensive_Global_COVID-19_Dataset (First 5 rows)

   S. No.            Country Name      Cases    Deaths  Recovered
0     1.0                    Peru  4524748.0  220831.0  4303917.0
1     2.0                Bulgaria  1329266.0   38700.0  1290566.0
2     3.0  Bosnia and Herzegovina   403638.0   16388.0   387250.0
3     4.0                 Hungary  2230381.0   49051.0  2181330.0
4     5.0         North Macedonia   350589.0    9977.0   340612.0

---

## Covid19-TestingRecord (First 5 rows)

,Entity,ISO code,Date,Source URL,Source label,Notes,Daily change in cumulative total,Cumulative total,Cumulative total per thousand,Daily change in cumulative total per thousand,7-day smoothed daily change,7-day smoothed daily change per thousand,Short-term positive rate,Short-term tests per case
0,Albania - tests performed,ALB,2020-02-25,https://shendetesia.gov.al/koronavirusi-mshms-...,Ministry of Health and Social Protection,NaN,8.0,8.0,0.003,0.003,NaN,NaN,NaN,NaN
1,Albania - tests performed,ALB,2020-02-26,https://shendetesia.gov.al/fond-shtese-per-mas...,Ministry of Health and Social Protection,NaN,5.0,13.0,0.005,0.002,NaN,NaN,NaN,NaN
2,Albania - tests performed,ALB,2020-02-27,https://shendetesia.gov.al/ministria-e-shendet...,Ministry of Health and Social Protection,NaN,4.0,17.0,0.006,0.001,NaN,NaN,NaN,NaN
3,Albania - tests performed,ALB,2020-02-28,http://shendetesia.gov.al/manastirliu-asnje-ra...,Ministry of Health and Social Protection,NaN,1.0,18.0,0.006,0.000,NaN,NaN,NaN,NaN
4,Albania - tests performed,ALB,2020-02-29,https://shendetesia.gov.al/ministria-e-shendet...,Ministry of Health and Social Protection,NaN,8.0,26.0,0.009,0.003,NaN,NaN,NaN,NaN

---

## Covid19-VariantsFound (First 5 rows)

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-07-06,Alpha,0,0.0,3
1,Angola,2020-07-06,B.1.1.277,0,0.0,3
2,Angola,2020-07-06,B.1.1.302,0,0.0,3
3,Angola,2020-07-06,B.1.1.519,0,0.0,3
4,Angola,2020-07-06,B.1.160,0,0.0,3

---

## Vaccinations_ByCountry_ByManufacturer (First 5 rows)

    location        date             vaccine  total_vaccinations
0  Argentina  2020-12-29             Moderna                   2
1  Argentina  2020-12-29  Oxford/AstraZeneca                   3
2  Argentina  2020-12-29   Sinopharm/Beijing                   1
3  Argentina  2020-12-29           Sputnik V               20481
4  Argentina  2020-12-30             Moderna                   2

---

## Vaccinations_ByCountry (First 5 rows)

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

---

In [3]:
datasets['Comprehensive_Global_COVID-19_Dataset'].groupby('Country Name').size().reset_index(name='Counts').sort_values(
    by='Counts', ascending=False)

          Country Name  Counts
0          Afghanistan       1
1              Albania       1
2              Algeria       1
3       American Samoa       1
4              Andorra       1
..                 ...     ...
225            Vietnam       1
226  Wallis and Futuna       1
227              Yemen       1
228             Zambia       1
229           Zimbabwe       1

[230 rows x 2 columns]

In [4]:
datasets['Covid19-TestingRecord']['country'] = datasets['Covid19-TestingRecord']['Entity'].str.split(' - ').str[0]
datasets['Covid19-TestingRecord'].groupby('country').size().reset_index(name='Counts').sort_values(
    by='Counts', ascending=False)

                 country  Counts
60                 Italy    1255
102               Poland    1236
22                Canada    1006
81                Mexico     708
3              Argentina     704
..                   ...     ...
21              Cambodia      56
70               Lebanon      48
25                 China       2
2    Antigua and Barbuda       1
14                 Benin       1

[139 rows x 2 columns]

In [5]:
datasets['Covid19-VariantsFound'].groupby('location').size().reset_index(name='Counts').sort_values(
    by='Counts', ascending=False)

       location  Counts
7       Belgium    1080
6    Bangladesh    1080
34       France    1080
77  Netherlands    1080
69       Mexico    1080
..          ...     ...
31     Ethiopia     384
71       Monaco     360
9         Benin     336
32         Fiji     336
13       Brunei     240

[121 rows x 2 columns]

In [6]:
datasets['Vaccinations_ByCountry_ByManufacturer'].groupby('location').size().reset_index(name='Counts').sort_values(
    by='Counts', ascending=False)

          location  Counts
11  European Union    4122
0        Argentina    2629
14         Germany    2290
36     South Korea    1985
21          Latvia    1664
7          Czechia    1661
13          France    1652
19           Italy    1639
4            Chile    1493
40         Ukraine    1491
32         Romania    1490
39     Switzerland    1386
9          Ecuador    1278
41   United States    1192
42         Uruguay    1188
29            Peru    1140
15       Hong Kong     784
31        Portugal     382
16         Hungary     339
1          Austria     320
2          Belgium     320
27     Netherlands     320
17         Iceland     304
30          Poland     281
12         Finland     260
38          Sweden     256
8          Denmark     254
37           Spain     252
5          Croatia     250
28          Norway     245
18         Ireland     244
24      Luxembourg     243
25           Malta     238
10         Estonia     237
3         Bulgaria     235
33        Slovakia     234
23       Lithuania     232
6           Cyprus     230
20           Japan     225
34        Slovenia     224
22   Liechtenstein     189
26           Nepal     175
35    South Africa      50

In [7]:
datasets['Vaccinations_ByCountry'].groupby('country').size().reset_index(name='Counts').sort_values(
    by='Counts', ascending=False)

                             country  Counts
149                           Norway     482
110                           Latvia     480
54                           Denmark     476
212                    United States     471
163                           Russia     470
..                               ...     ...
24   Bonaire Sint Eustatius and Saba     146
200                          Tokelau     114
165                     Saint Helena      92
158                         Pitcairn      85
67                  Falkland Islands      67

[223 rows x 2 columns]

In [20]:
# Create a function to check country presence percentage in each dataset
def check_country_presence(country):
    total_rows = {
        'Comprehensive': len(datasets['Comprehensive_Global_COVID-19_Dataset']),
        'Testing': len(datasets['Covid19-TestingRecord']),
        'Variants': len(datasets['Covid19-VariantsFound']),
        'Vacc_Manufacturer': len(datasets['Vaccinations_ByCountry_ByManufacturer']),
        'Vaccinations': len(datasets['Vaccinations_ByCountry'])
    }
    
    presence = {
        'Comprehensive': (datasets['Comprehensive_Global_COVID-19_Dataset']['Country Name'] == country).sum() / total_rows['Comprehensive'] * 100,
        'Testing': (datasets['Covid19-TestingRecord']['country'] == country).sum() / total_rows['Testing'] * 100,
        'Variants': (datasets['Covid19-VariantsFound']['location'] == country).sum() / total_rows['Variants'] * 100,
        'Vacc_Manufacturer': (datasets['Vaccinations_ByCountry_ByManufacturer']['location'] == country).sum() / total_rows['Vacc_Manufacturer'] * 100,
        'Vaccinations': (datasets['Vaccinations_ByCountry']['country'] == country).sum() / total_rows['Vaccinations'] * 100
    }
    
    presence.update({'Mean': sum(presence.values())/len(presence.values())})
    return presence

# Create presence data for each country
# Get all unique country names from each dataset
all_countries = set()
all_countries.update(datasets['Comprehensive_Global_COVID-19_Dataset']['Country Name'].unique())
all_countries.update(datasets['Covid19-TestingRecord']['country'].unique())
all_countries.update(datasets['Covid19-VariantsFound']['location'].unique())
all_countries.update(datasets['Vaccinations_ByCountry_ByManufacturer']['location'].unique())
all_countries.update(datasets['Vaccinations_ByCountry']['country'].unique())

# Calculate presence data for each country
presence_data = {country: check_country_presence(country) for country in all_countries}

# Convert to DataFrame
presence_df = pd.DataFrame.from_dict(presence_data, orient='index')

# Sort by mean presence
presence_df = presence_df.sort_values('Mean', ascending=False)

# Round all values to 2 decimal places
presence_df = presence_df.round(2)

# Display the results
presence_df

,Comprehensive,Testing,Variants,Vacc_Manufacturer,Vaccinations,Mean
European Union,0.42,0.00,0.00,11.57,0.00,2.40
Argentina,0.42,0.95,1.05,7.38,0.53,2.07
Germany,0.42,0.85,1.05,6.43,0.53,1.86
South Korea,0.42,0.88,1.05,5.57,0.46,1.68
Italy,0.42,1.69,1.05,4.60,0.53,1.66
...,...,...,...,...,...,...
Tokelau,0.00,0.00,0.00,0.00,0.13,0.03
Saint Helena,0.00,0.00,0.00,0.00,0.11,0.02
Pitcairn,0.00,0.00,0.00,0.00,0.10,0.02
Falkland Islands,0.00,0.00,0.00,0.00,0.08,0.02
NaN,0.00,0.00,0.00,0.00,0.00,0.00

In [21]:
# Create a list of countries to check
countries_to_check = ['Belgium', 'France', 'Ireland', 'Luxembourg', 'Monaco', 'Netherlands', 'United Kingdom']

# Sort presence_df by Mean in descending order and create a rank
ranked_df = presence_df.sort_values('Mean', ascending=False).reset_index()
ranked_df['Rank'] = ranked_df.index + 1

# Filter for the specified countries
result = ranked_df[ranked_df['index'].isin(countries_to_check)][['index', 'Mean', 'Rank']]
result = result.rename(columns={'index': 'Country'}).sort_values('Rank')

# Display results
print("Rankings out of", len(presence_df), "countries:")
display(result)

Rankings out of 254 countries:

            Country  Mean  Rank
5            France  1.49     6
19          Belgium  0.76    20
22      Netherlands  0.73    23
24       Luxembourg  0.70    25
38          Ireland  0.62    39
47   United Kingdom  0.57    48
138          Monaco  0.24   139

In [9]:
# Summary statistics and missing values analysis
for name, df in datasets.items():
    print(f'## {name} Summary Statistics and Missing Values')
    print(df.describe(include='all'))
    print('\nMissing Values:\n')
    print(df.isnull().sum())
    print('\n---\n')

## Comprehensive_Global_COVID-19_Dataset Summary Statistics and Missing Values
            S. No. Country Name         Cases        Deaths     Recovered
count   230.000000          230  2.300000e+02  2.300000e+02  2.300000e+02
unique         NaN          230           NaN           NaN           NaN
top            NaN         Peru           NaN           NaN           NaN
freq           NaN            1           NaN           NaN           NaN
mean    115.495652          NaN  4.234399e+06  3.626242e+04  4.198137e+06
std      66.533621          NaN  1.663905e+07  1.348604e+05  1.652371e+07
min       1.000000          NaN  1.403000e+03  1.000000e+00  1.395000e+03
25%      58.250000          NaN  3.055700e+04  1.902500e+02  3.024025e+04
50%     115.500000          NaN  2.246960e+05  2.147500e+03  2.227915e+05
75%     172.750000          NaN  1.363680e+06  1.636725e+04  1.353812e+06
max     230.000000          NaN  1.856361e+08  1.261370e+06  1.843747e+08

Missing Values:

S. No.          8
Country Name    8
Cases           8
Deaths          8
Recovered       8
dtype: int64

---

## Covid19-TestingRecord Summary Statistics and Missing Values
                        Entity ISO code        Date  \
count                    74048    74048       74048
unique                     142      139         710
top     Mexico - people tested      ITA  2021-05-26
freq                       708     1255         125
mean                       NaN      NaN         NaN
std                        NaN      NaN         NaN
min                        NaN      NaN         NaN
25%                        NaN      NaN         NaN
50%                        NaN      NaN         NaN
75%                        NaN      NaN         NaN
max                        NaN      NaN         NaN

                                               Source URL        Source label  \
count                                               62975               63177
unique                                              18088                 117
top     https://github.com/pcm-dpc/COVID-19/tree/maste...  Ministry of Health
freq                                                 1179                8789
mean                                                  NaN                 NaN
std                                                   NaN                 NaN
min                                                   NaN                 NaN
25%                                                   NaN                 NaN
50%                                                   NaN                 NaN
75%                                                   NaN                 NaN
max                                                   NaN                 NaN

                                                    Notes  \
count                                                8341
unique                                                271
top     Made available by the Department of Civil Prot...
freq                                                 1178
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

        Daily change in cumulative total  Cumulative total  \
count                       5.995300e+04      6.010200e+04
unique                               NaN               NaN
top                                  NaN               NaN
freq                                 NaN               NaN
mean                        5.893593e+04      1.308818e+07
std                         1.963171e+05      5.248456e+07
min                         1.000000e+00      0.000000e+00
25%                         2.328000e+03      2.969995e+05
50%                         8.836000e+03      1.521791e+06
75%                         3.445500e+04      6.496432e+06
max                         3.740296e+06      6.733036e+08

        Cumulative total per thousand  \
count                    60102.000000
unique                            NaN
top                               NaN
freq                              NaN
mean                       548.296981
std                       1333.148539
min                          0.000000
25%                         26.646750
50%                        132.591000
75%                        508.900500
max                      19398.999000

        Daily change in cumulative total per thousand  \
count                                    59953.000000
unique                                            NaN
top                                               NaN
freq                                              NaN
mean                                         2.610705
std                                          7.146212
min                                          0.000000
25%                                          0.216000
50%                                          0.807000
75%                                          2.390000
max                                        534.013000

        7-day smoothed daily change  7-day smoothed daily change per thousand  \
count                  7.193800e+04                              71938.000000
unique                          NaN                                       NaN
top                             NaN                                       NaN
freq                            NaN                                       NaN
mean                   5.532070e+04                                  2.495215
std                    1.759742e+05                                  5.935559
min                    0.000000e+00                                  0.000000
25%                    2.405000e+03                                  0.236000
50%                    9.135000e+03                                  0.872000
75%                    3.635900e+04                                  2.473000
max                    3.080396e+06                                 93.164000

        Short-term positive rate  Short-term tests per case country
count               67832.000000               67171.000000   74048
unique                       NaN                        NaN     139
top                          NaN                        NaN   Italy
freq                         NaN                        NaN    1255
mean                    0.085763                 157.034699     NaN
std                     0.095317                 821.044303     NaN
min                     0.000000                   1.000000     NaN
25%                     0.016300                   8.000000     NaN
50%                     0.050000                  19.600000     NaN
75%                     0.123400                  58.500000     NaN
max                     0.970400               50000.000000     NaN

Missing Values:

Entity                                               0
ISO code                                             0
Date                                                 0
Source URL                                       11073
Source label                                     10871
Notes                                            65707
Daily change in cumulative total                 14095
Cumulative total                                 13946
Cumulative total per thousand                    13946
Daily change in cumulative total per thousand    14095
7-day smoothed daily change                       2110
7-day smoothed daily change per thousand          2110
Short-term positive rate                          6216
Short-term tests per case                         6877
country                                              0
dtype: int64

---

## Covid19-VariantsFound Summary Statistics and Missing Values
       location        date variant  num_sequences  perc_sequences  \
count    100416      100416  100416  100416.000000   100416.000000
unique      121          45      24            NaN             NaN
top     Belgium  2021-02-08   Alpha            NaN             NaN
freq       1080        2688    4184            NaN             NaN
mean        NaN         NaN     NaN      72.171676        6.154355
std         NaN         NaN     NaN    1669.262169       21.898989
min         NaN         NaN     NaN       0.000000       -0.010000
25%         NaN         NaN     NaN       0.000000        0.000000
50%         NaN         NaN     NaN       0.000000        0.000000
75%         NaN         NaN     NaN       0.000000        0.000000
max         NaN         NaN     NaN  142280.000000      100.000000

        num_sequences_total
count         100416.000000
unique                  NaN
top                     NaN
freq                    NaN
mean            1509.582457
std             8445.291772
min                1.000000
25%               12.000000
50%               59.000000
75%              394.000000
max           146170.000000

Missing Values:

location               0
date                   0
variant                0
num_sequences          0
perc_sequences         0
num_sequences_total    0
dtype: int64

---

## Vaccinations_ByCountry_ByManufacturer Summary Statistics and Missing Values
              location        date          vaccine  total_vaccinations
count            35623       35623            35623        3.562300e+04
unique              43         473               10                 NaN
top     European Union  2021-07-23  Pfizer/BioNTech                 NaN
freq              4122         169             8888                 NaN
mean               NaN         NaN              NaN        1.508357e+07
std                NaN         NaN              NaN        5.181768e+07
min                NaN         NaN              NaN        0.000000e+00
25%                NaN         NaN              NaN        9.777600e+04
50%                NaN         NaN              NaN        1.305506e+06
75%                NaN         NaN              NaN        7.932423e+06
max                NaN         NaN              NaN        6.005200e+08

Missing Values:

location              0
date                  0
vaccine               0
total_vaccinations    0
dtype: int64

---

## Vaccinations_ByCountry Summary Statistics and Missing Values
       country iso_code        date  total_vaccinations  people_vaccinated  \
count    86512    86512       86512        4.360700e+04       4.129400e+04
unique     223      223         483                 NaN                NaN
top     Norway      NOR  2021-08-22                 NaN                NaN
freq       482      482         220                 NaN                NaN
mean       NaN      NaN         NaN        4.592964e+07       1.770508e+07
std        NaN      NaN         NaN        2.246004e+08       7.078731e+07
min        NaN      NaN         NaN        0.000000e+00       0.000000e+00
25%        NaN      NaN         NaN        5.264100e+05       3.494642e+05
50%        NaN      NaN         NaN        3.590096e+06       2.187310e+06
75%        NaN      NaN         NaN        1.701230e+07       9.152520e+06
max        NaN      NaN         NaN        3.263129e+09       1.275541e+09

        people_fully_vaccinated  daily_vaccinations_raw  daily_vaccinations  \
count              3.880200e+04            3.536200e+04        8.621300e+04
unique                      NaN                     NaN                 NaN
top                         NaN                     NaN                 NaN
freq                        NaN                     NaN                 NaN
mean               1.413830e+07            2.705996e+05        1.313055e+05
std                5.713920e+07            1.212427e+06        7.682388e+05
min                1.000000e+00            0.000000e+00        0.000000e+00
25%                2.439622e+05            4.668000e+03        9.000000e+02
50%                1.722140e+06            2.530900e+04        7.343000e+03
75%                7.559870e+06            1.234925e+05        4.409800e+04
max                1.240777e+09            2.474100e+07        2.242429e+07

        total_vaccinations_per_hundred  people_vaccinated_per_hundred  \
count                     43607.000000                   41294.000000
unique                             NaN                            NaN
top                                NaN                            NaN
freq                               NaN                            NaN
mean                         80.188543                      40.927317
std                          67.913577                      29.290759
min                           0.000000                       0.000000
25%                          16.050000                      11.370000
50%                          67.520000                      41.435000
75%                         132.735000                      67.910000
max                         345.370000                     124.760000

        people_fully_vaccinated_per_hundred  daily_vaccinations_per_million  \
count                          38802.000000                    86213.000000
unique                                  NaN                             NaN
top                                     NaN                             NaN
freq                                    NaN                             NaN
mean                              35.523243                     3257.049157
std                               28.376252                     3934.312440
min                                0.000000                        0.000000
25%                                7.020000                      636.000000
50%                               31.750000                     2050.000000
75%                               62.080000                     4682.000000
max                              122.370000                   117497.000000

                                                 vaccines  \
count                                               86512
unique                                                 84
top     Johnson&Johnson, Moderna, Oxford/AstraZeneca, ...
freq                                                 7608
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                      source_name            source_website
count                       86512                     86512
unique                         81                       119
top     World Health Organization  https://covid19.who.int/
freq                        26822                     25951
mean                          NaN                       NaN
std                           NaN                       NaN
min                           NaN                       NaN
25%                           NaN                       NaN
50%                           NaN                       NaN
75%                           NaN                       NaN
max                           NaN                       NaN

Missing Values:

country                                    0
iso_code                                   0
date                                       0
total_vaccinations                     42905
people_vaccinated                      45218
people_fully_vaccinated                47710
daily_vaccinations_raw                 51150
daily_vaccinations                       299
total_vaccinations_per_hundred         42905
people_vaccinated_per_hundred          45218
people_fully_vaccinated_per_hundred    47710
daily_vaccinations_per_million           299
vaccines                                   0
source_name                                0
source_website                             0
dtype: int64

---